<% unless get_values_from_datastream(@document_fedora,"descMetadata", [:creator]).first.empty? %>
<fieldset><legend>Contributors</legend>
<div id="contributors_list" class="browse_value">
        <%= get_values_from_datastream(@document_fedora,"descMetadata", [:creator]).join(', ') %>
</div>
</fieldset>
<% end %>

<% unless get_values_from_datastream(@document_fedora,"descMetadata", [:subject]).first.empty? %>
<fieldset><legend>Keywords</legend>
	<div class="browse_value">
	<%= get_values_from_datastream(@document_fedora,"descMetadata", [:subject]).join(', ') %>
	</div>
</fieldset>
<% end %>

<% unless get_values_from_datastream(@document_fedora,"descMetadata", [:description]).first.empty? %>
<fieldset><legend>Description</legend>
<div id="abstract" class="browse_value">
	<%= get_values_from_datastream(@document_fedora,"descMetadata", [:description]).join(', ') %>
</div>
</fieldset>
<% end %>

<% unless get_values_from_datastream(@document_fedora,"rightsMetadata", [:copyright]).first.empty? %>
<fieldset><legend>License</legend>
	<div class="browse_value">
	<%= get_values_from_datastream(@document_fedora,"rightsMetadata", [:copyright]).join(', ') %>
	</div>
</fieldset>
<% end %>

